extends layout

block content
  h1= title
  p Fetch and Display with Vanilla Javascript - use React later
  ul
    li api return json
    li const CITIES_API_BASE_URL = 'http://localhost:5000/api/cities'
    li get json response with async function fetchCities()
    li append cities using thisDiv = document.createElement('h2')
    li add styles with thisDiv.classList.add('cssClass') in createCityDivFunction()
 